[run]
branch = True

omit =
    */ENV/*
    */migrations/*
    */test/*
    */admin.py
    */permissions.py
    */apps.py
    */__init__.py
    */tests.py
    */manage.py
    */wsgi.py
    */production.py
    */hott_profile/*

source =
    hott

[report]
show_missing = True