.drop-down ul
{
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.drop-down ul li
{
	position: relative;
	margin: 0;
	padding: 0
}

.drop-down ul ul
{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
    padding: 0;
    width: 125px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;
}

.drop-down ul ul li
{
	float: none;
	width: 100px;
}

.drop-down ul ul a
{
	line-height: 120%;
	padding: 10px 15px;
}

// .drop-down ul ul ul
// {
// 	top: 0;
// 	left: 100%
// }

.drop-down ul li:hover > ul
{
	display: block
}