.about-us {
    margin: auto;
    // display: inline-block;
    width: 95%;
}

.about-us-header {
    width: 100%;
    text-align: center;
    margin: 0 auto 5px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30px;
    background: -webkit-linear-gradient(rgb(255, 133, 1),rgb(255, 46, 32));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#dev-container {
    display: inline-grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 15px;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 12%;
}

.dev-div {
    height: 350px;
    max-width:275px;
}

.dev-div img{
    width:100%;
    max-height: 250px;
    text-align: center;
    margin-left: 35px;
}

.dev-div h3 {
    text-align: center;
    margin: auto;
    width: 100%
}

.dev-div p {
    text-align: center;
    margin: auto;
    width: 100%
}

.shannon {
    margin: 3px 0 0 38px;
}

.gene {
    margin-left: 25px;
}

.jeremy {
    margin-left: 15px;
}

.dev-shannon {
    margin-top: 12px;
    padding-top: 8px;
}

.dev-gene {
    margin-top: 0px;
}

.dev-jeremy {
    margin-top: 2px;
    padding-top: 3px;
}

.drop-down ul
{
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.drop-down ul li
{
	position: relative;
	margin: 0;
	padding: 0
}

.drop-down ul ul
{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
    padding: 0;
    width: 125px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;
}

.drop-down ul ul li
{
	float: none;
	width: 100px;
}

.drop-down ul ul a
{
	line-height: 120%;
	padding: 10px 15px;
}

// .drop-down ul ul ul
// {
// 	top: 0;
// 	left: 100%
// }

.drop-down ul li:hover > ul
{
	display: block
}

